@model IEnumerable<RemyNewWebApp.Models.ViewModels.ProjectViewModel>
@using RemyNewWebApp.Models.Enums
@using RemyNewWebApp.Extensions
@using RemyNewWebApp.Services.Interfaces
@inject IBTProjectService BTProjectSerivce


@{
//BTUser projectManager = await BTProjectSerivce.GetProjectManagerAsync(Model.Project.Id);
}

<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Container-->
    <div class="container" id="kt_content_container">
        <!--begin::Tables Widget 12-->
        <div class="card mb-5 mb-xl-8">
            <!--begin::Header-->
            <div class="card-header border-0 pt-5">
                <h3 class="card-title align-items-start flex-column">
                    <span class="card-label fw-bolder fs-3 mb-1">All Projects</span>
                    <span class="text-muted mt-1 fw-bold fs-7">Currently @Model.Count() projects in @User.Identity.GetCompanyName()</span>
                </h3>
                @if (User.IsInRole(Roles.Admin.ToString()) || User.IsInRole(Roles.ProjectManager.ToString()))
                {
                    <div class="card-toolbar">
                        <!--begin::Menu-->
                        <button type="button" class="btn btn-sm btn-icon btn-color-primary btn-active-light-primary" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end" data-kt-menu-flip="top-end">
                            <!--begin::Svg Icon | path: assets/media/icons/duotune/general/gen041.svg-->
                            <span class="svg-icon svg-icon-muted svg-icon-2hx">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <rect opacity="0.3" x="2" y="2" width="20" height="20" rx="10" fill="black" />
                                    <rect x="10.8891" y="17.8033" width="12" height="2" rx="1" transform="rotate(-90 10.8891 17.8033)" fill="black" />
                                    <rect x="6.01041" y="10.9247" width="12" height="2" rx="1" fill="black" />
                                </svg>
                            </span>
                            <!--end::Svg Icon-->
                        </button>
                        <a asp-action="Create">Create New</a>
                        <!--end::Menu-->
                    </div>
                }
            </div>
            <!--end::Header-->
            <!--begin::Body-->
            <div class="card-body py-3">
                <!--begin::Table container-->
                <div class="table-responsive">
                    <!--begin::Table-->
                    <table id="datatable" class="table align-middle gs-0 gy-4">
                        <!--begin::Table head-->
                        <thead>
                            <tr class="fw-bolder text-muted bg-light">
                                <th class="ps-4 min-w-200px rounded-start">Title</th>
                                <th class="min-w-225px">Info</th>
                                <th class="min-w-225px">Project Manager</th>
                                <th class="min-w-150px">Timespan</th>
                                <th class="min-w-50px">Priority</th>
                                @if (User.IsInRole(Roles.Admin.ToString()) || User.IsInRole(Roles.ProjectManager.ToString()))
                                {
                                    <th class="min-w-100px text-end rounded-end"></th>
                                }
                            </tr>
                        </thead>
                        <!--end::Table head-->
                        <!--begin::Table body-->
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <div class="symbol symbol-50px me-5">
                                                <span class="symbol-label bg-light">
                                                    @if (item.Project.ImageFileData != null)
                                                    {
                                                        <img class="h-75 align-self-end" src="data:image/*;base64,@(Convert.ToBase64String(item.Project.ImageFileData))" alt="" />
                                                    }
                                                </span>
                                            </div>
                                            <div class="d-flex justify-content-start flex-column">
                                                <a asp-action="Details" asp-route-id="@item.Project.Id" class="text-dark fw-bolder text-hover-primary mb-1 fs-6">
                                                    @Html.DisplayFor(modelItem => item.Project.Name)
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <a class="text-dark fw-bold d-block fs-7">
                                            Members: @Model.Count()
                                        </a>
                                        <span class="text-muted fw-bold text-muted d-block fs-7">
                                            @Html.DisplayFor(modelItem => item.Project.Description)
                                        </span>
                                    </td>
                                    <td>
                                        @if (item.ProjectManager != null)
                                        {
                                            <a class="text-dark fw-bold d-block fs-7">
                                                @item.ProjectManager.FullName
                                            </a>
                                        }
                                    </td>
                                    <td>
                                        <a href="#" class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6">
                                            END: @item.Project.EndDate.ToString("dd/MM/yy")
                                        </a>
                                        <span class="text-muted fw-bold text-muted d-block fs-7">
                                            BEGIN: @item.Project.StartDate.ToString("dd/MM/yy")
                                        </span>
                                    </td>
                                    @if (item.Project.ProjectPriority != null)
                                    {
                                        @if (item.Project.ProjectPriority.Name == BTTicketPriority.Low.ToString())
                                        {
                                            <td>
                                                <span class="badge badge-light-primary fs-7 fw-bold">
                                                    @Html.DisplayFor(modelItem => item.Project.ProjectPriority.Name)
                                                </span>
                                            </td>
                                        }
                                        @if (item.Project.ProjectPriority.Name == BTTicketPriority.Medium.ToString())
                                        {
                                            <td>
                                                <span class="badge badge-light-success fs-7 fw-bold">
                                                    @Html.DisplayFor(modelItem => item.Project.ProjectPriority.Name)
                                                </span>
                                            </td>
                                        }
                                        @if (item.Project.ProjectPriority.Name == BTTicketPriority.High.ToString())
                                        {
                                            <td>
                                                <span class="badge badge-light-warning fs-7 fw-bold">
                                                    @Html.DisplayFor(modelItem => item.Project.ProjectPriority.Name)
                                                </span>
                                            </td>
                                        }
                                        @if (item.Project.ProjectPriority.Name == BTTicketPriority.Urgent.ToString())
                                        {
                                            <td>
                                                <span class="badge badge-light-danger fs-7 fw-bold">
                                                    @Html.DisplayFor(modelItem => item.Project.ProjectPriority.Name)
                                                </span>
                                            </td>
                                        }
                                    }
                                    else
                                    {
                                        <td>
                                            <span class="badge fs-7 fw-bold" style="color:black">
                                                Unassigned
                                            </span>
                                        </td>
                                    }
                                    @if (User.IsInRole(Roles.Admin.ToString()) || User.IsInRole(Roles.ProjectManager.ToString()))
                                    {
                                        <td class="text-end">
                                            <a asp-action="Edit" asp-route-id="@item.Project.Id" class="btn btn-bg-light btn-color-muted btn-active-color-info btn-sm px-4">Edit</a>
                                            <a asp-action="AssignMembers" asp-route-id="@item.Project.Id" class="btn btn-bg-light btn-color-muted btn-active-color-primary btn-sm px-4">Add Developers</a>
                                            <a asp-action="AssignPM" asp-route-id="@item.Project.Id" class="btn btn-bg-light btn-color-muted btn-active-color-success btn-sm px-4">Assign PM</a>
                                            @*<a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-bg-light btn-color-muted btn-active-color-danger btn-sm px-4">Delete</a>*@

                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
                        <!--end::Table body-->
                    </table>
                    <!--end::Table-->
                </div>
                <!--end::Table container-->
            </div>
            <!--begin::Body-->
        </div>
        <!--end::Tables Widget 12-->
    </div>
</div>

<p>
    <a asp-action="Create">Create New</a>
</p>



@*<table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EndDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ImageFileName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ImageFileData)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ImageFileContentType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Archived)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Company)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProjectPriority)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ImageFileName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ImageFileData)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ImageFileContentType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Archived)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Company.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProjectPriority.Id)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="AssignMembers" asp-route-id="@item.Id">Assign Members</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>*@
