@model RemyNewWebApp.Models.Ticket
@using RemyNewWebApp.Services.Interfaces
@using Microsoft.AspNetCore.Identity
@inject UserManager<BTUser> UserManager
@inject IBTFileService BTFileService
@inject IBTProjectService BTProjectSerivce
@inject IBTTicketService BTTicketService

@{
    //int companyId = User.Identity.GetCompanyId();
    //BTUser developer = await BTTicketService.GetTicketDeveloperAsync(Model.Id, companyId);
    BTUser btUser = await UserManager.GetUserAsync(User);
    BTUser projectManager = await BTProjectSerivce.GetProjectManagerAsync(Model.ProjectId);
}

@*
    style="background-color: #F7D9E3"
    style="background-color: #CBF0F4"
    style="background-color: #CBD4F4"
    style="background-color: #F4EBCB"
*@

<!--begin::Content-->
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Container-->
    <div class="container" id="kt_content_container">
        <!--begin::Navbar-->
        <div class="card mb-5 mb-xxl-8" style="background-color: #CBD4F4">
            <div class="card-body pt-9 pb-0">
                <!--begin::Details-->
                <div class="d-flex flex-wrap flex-sm-nowrap mb-3">
                    <!--begin: Pic-->
                    <div class="me-7 mb-4">
                        <div class="symbol symbol-100px symbol-lg-160px symbol-fixed position-relative">
                            @if (Model.OwnerUser != null)
                            {
                                @if (Model.OwnerUser.AvatarFileData != null)
                                {
                                    <img src="data:image/*;base64,@Convert.ToBase64String(Model.OwnerUser.AvatarFileData)" />
                                }
                                else
                                {
                                    <img src="/assets/media/avatars/150-26.jpg" alt="image" title="Change Default" />
                                }
                            }
                            else
                            {
                                <img src="/assets/media/avatars/150-26.jpg" alt="image" title="Change Default" />
                            }
                            <div class="position-absolute translate-middle bottom-0 start-100 mb-6 bg-success rounded-circle border border-4 border-white h-20px w-20px"></div>
                        </div>
                    </div>
                    <!--end::Pic-->
                    <!--begin::Info-->
                    <div class="flex-grow-1">
                        <!--begin::Title-->
                        <div class="d-flex justify-content-between align-items-start flex-wrap mb-2">
                            <!--begin::User-->
                            <div class="d-flex flex-column">
                                <!--begin::Name-->
                                <div class="d-flex align-items-center mb-0">
                                    <!--begin::Svg Icon | path: assets/media/icons/duotune/general/gen003.svg-->
                                    <span class="svg-icon svg-icon-1 svg-icon-white me-1">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                            <path d="M13.0079 2.6L15.7079 7.2L21.0079 8.4C21.9079 8.6 22.3079 9.7 21.7079 10.4L18.1079 14.4L18.6079 19.8C18.7079 20.7 17.7079 21.4 16.9079 21L12.0079 18.8L7.10785 21C6.20785 21.4 5.30786 20.7 5.40786 19.8L5.90786 14.4L2.30785 10.4C1.70785 9.7 2.00786 8.6 3.00786 8.4L8.30785 7.2L11.0079 2.6C11.3079 1.8 12.5079 1.8 13.0079 2.6Z" fill="black" />
                                        </svg>
                                    </span>
                                    <!--end::Svg Icon-->
                                    <a class="text-gray-900 text-hover-primary fs-2 fw-bolder me-1">
                                        @Model.Title : Submitted by @if (Model.OwnerUser != null)
                                        {@Model.OwnerUser.FullName}
                                    </a>
                                </div>
                                <div class="d-flex align-items-center mb-2">
                                    <!--begin::Svg Icon | path: assets/media/icons/duotune/general/gen003.svg-->
                                    <span class="svg-icon svg-icon-1 svg-icon-white me-1">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                            <path d="M13.0079 2.6L15.7079 7.2L21.0079 8.4C21.9079 8.6 22.3079 9.7 21.7079 10.4L18.1079 14.4L18.6079 19.8C18.7079 20.7 17.7079 21.4 16.9079 21L12.0079 18.8L7.10785 21C6.20785 21.4 5.30786 20.7 5.40786 19.8L5.90786 14.4L2.30785 10.4C1.70785 9.7 2.00786 8.6 3.00786 8.4L8.30785 7.2L11.0079 2.6C11.3079 1.8 12.5079 1.8 13.0079 2.6Z" fill="black" />
                                        </svg>
                                    </span>
                                    <a class="text-gray-600 text-hover-primary fs-2 fw-bolder me-1" asp-action="Details" asp-controller="Projects" asp-route-id="@Model.Project.Id">Project: @Model.Project.Name</a>
                                </div>
                                <!--end::Name-->
                                <!--begin::Info-->
                                <div class="d-flex flex-wrap fw-bold fs-6 mb-4 pe-2">
                                    <a class="d-flex align-items-center text-gray-400 text-hover-primary me-5 mb-2">
                                        <div style="color:white">
                                            @Model.Description
                                        </div>
                                    </a>
                                </div>
                                <!--end::Info-->
                            </div>
                            <!--end::User-->
                        </div>
                        <!--end::Title-->
                        <!--begin::Stats-->
                        <div class="d-flex flex-wrap flex-stack">
                            <!--begin::Wrapper-->
                            <div class="d-flex flex-column flex-grow-1 pe-8">
                                <!--begin::Stats-->
                                <div class="d-flex flex-wrap">
                                    <!--begin::Users-->
                                    <a asp-action="Edit" asp-route-id="@Model.Id">
                                        <div class="d-flex align-items-center ms-2 border border-gray-300 border-dashed rounded min-w-100px py-3 px-4 me-3 mb-3" style="background-color:white">
                                            <!--begin::Symbol-->
                                            <div class="symbol symbol-40px me-3">
                                                <div class="symbol-label bg-dark bg-opacity-15">
                                                    <!--begin::Svg Icon | path: assets/media/icons/duotune/coding/cod001.svg-->
                                                    <span class="svg-icon-dark svg-icon-2hx">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                            <path opacity="0.3" d="M22.1 11.5V12.6C22.1 13.2 21.7 13.6 21.2 13.7L19.9 13.9C19.7 14.7 19.4 15.5 18.9 16.2L19.7 17.2999C20 17.6999 20 18.3999 19.6 18.7999L18.8 19.6C18.4 20 17.8 20 17.3 19.7L16.2 18.9C15.5 19.3 14.7 19.7 13.9 19.9L13.7 21.2C13.6 21.7 13.1 22.1 12.6 22.1H11.5C10.9 22.1 10.5 21.7 10.4 21.2L10.2 19.9C9.4 19.7 8.6 19.4 7.9 18.9L6.8 19.7C6.4 20 5.7 20 5.3 19.6L4.5 18.7999C4.1 18.3999 4.1 17.7999 4.4 17.2999L5.2 16.2C4.8 15.5 4.4 14.7 4.2 13.9L2.9 13.7C2.4 13.6 2 13.1 2 12.6V11.5C2 10.9 2.4 10.5 2.9 10.4L4.2 10.2C4.4 9.39995 4.7 8.60002 5.2 7.90002L4.4 6.79993C4.1 6.39993 4.1 5.69993 4.5 5.29993L5.3 4.5C5.7 4.1 6.3 4.10002 6.8 4.40002L7.9 5.19995C8.6 4.79995 9.4 4.39995 10.2 4.19995L10.4 2.90002C10.5 2.40002 11 2 11.5 2H12.6C13.2 2 13.6 2.40002 13.7 2.90002L13.9 4.19995C14.7 4.39995 15.5 4.69995 16.2 5.19995L17.3 4.40002C17.7 4.10002 18.4 4.1 18.8 4.5L19.6 5.29993C20 5.69993 20 6.29993 19.7 6.79993L18.9 7.90002C19.3 8.60002 19.7 9.39995 19.9 10.2L21.2 10.4C21.7 10.5 22.1 11 22.1 11.5ZM12.1 8.59998C10.2 8.59998 8.6 10.2 8.6 12.1C8.6 14 10.2 15.6 12.1 15.6C14 15.6 15.6 14 15.6 12.1C15.6 10.2 14 8.59998 12.1 8.59998Z" fill="black" />
                                                            <path d="M17.1 12.1C17.1 14.9 14.9 17.1 12.1 17.1C9.30001 17.1 7.10001 14.9 7.10001 12.1C7.10001 9.29998 9.30001 7.09998 12.1 7.09998C14.9 7.09998 17.1 9.29998 17.1 12.1ZM12.1 10.1C11 10.1 10.1 11 10.1 12.1C10.1 13.2 11 14.1 12.1 14.1C13.2 14.1 14.1 13.2 14.1 12.1C14.1 11 13.2 10.1 12.1 10.1Z" fill="black" />
                                                        </svg>
                                                    </span>
                                                    <!--end::Svg Icon-->
                                                </div>
                                            </div>
                                            <!--end::Symbol-->
                                            <!--begin::Title-->
                                            <div>
                                                <div class="fs-2 fw-bolder">Edit</div>
                                                <div class="fw-bold fs-6" style="color:black">Info</div>
                                            </div>
                                            <!--end::Title-->
                                        </div>
                                    </a>
                                    <!--end::Users-->
                                    <!--begin::Comments-->
                                    <div class="d-flex align-items-center ms-2 border border-white-300 border-dashed rounded min-w-100px py-3 px-4 me-3 mb-3">
                                        <!--begin::Symbol-->
                                        <div class="symbol symbol-40px me-3">
                                            <div class="symbol-label bg-white bg-opacity-50">
                                                <!--begin::Svg Icon | path: icons/duotune/abstract/abs045.svg-->
                                                <span class="svg-icon svg-icon-1 svg-icon-dark">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                        <path opacity="0.3" d="M8 8C8 7.4 8.4 7 9 7H16V3C16 2.4 15.6 2 15 2H3C2.4 2 2 2.4 2 3V13C2 13.6 2.4 14 3 14H5V16.1C5 16.8 5.79999 17.1 6.29999 16.6L8 14.9V8Z" fill="black" />
                                                        <path d="M22 8V18C22 18.6 21.6 19 21 19H19V21.1C19 21.8 18.2 22.1 17.7 21.6L15 18.9H9C8.4 18.9 8 18.5 8 17.9V7.90002C8 7.30002 8.4 6.90002 9 6.90002H21C21.6 7.00002 22 7.4 22 8ZM19 11C19 10.4 18.6 10 18 10H12C11.4 10 11 10.4 11 11C11 11.6 11.4 12 12 12H18C18.6 12 19 11.6 19 11ZM17 15C17 14.4 16.6 14 16 14H12C11.4 14 11 14.4 11 15C11 15.6 11.4 16 12 16H16C16.6 16 17 15.6 17 15Z" fill="black" />
                                                    </svg>
                                                </span>
                                                <!--end::Svg Icon-->
                                            </div>
                                        </div>
                                        <!--end::Symbol-->
                                        <!--begin::Title-->
                                        <div>
                                            <div class="fs-2 fw-bolder" data-kt-countup="true" data-kt-countup-value="@Model.Comments.ToList().Count()">0</div>
                                            <div class="fw-bold fs-6" style="color:white">Notes</div>
                                        </div>
                                        <!--end::Title-->
                                    </div>
                                    <!--end::Comments-->
                                    <!--begin::Attachments-->
                                    <div class="d-flex align-items-center ms-2 border border-white-300 border-dashed rounded min-w-100px py-3 px-4 me-3 mb-3">
                                        <!--begin::Symbol-->
                                        <div class="symbol symbol-40px me-3">
                                            <div class="symbol-label bg-white bg-opacity-50">
                                                <!--begin::Svg Icon | path: icons/duotune/abstract/abs045.svg-->
                                                <span class="svg-icon svg-icon-1 svg-icon-dark">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                        <path opacity="0.3" d="M4.425 20.525C2.525 18.625 2.525 15.525 4.425 13.525L14.825 3.125C16.325 1.625 18.825 1.625 20.425 3.125C20.825 3.525 20.825 4.12502 20.425 4.52502C20.025 4.92502 19.425 4.92502 19.025 4.52502C18.225 3.72502 17.025 3.72502 16.225 4.52502L5.82499 14.925C4.62499 16.125 4.62499 17.925 5.82499 19.125C7.02499 20.325 8.82501 20.325 10.025 19.125L18.425 10.725C18.825 10.325 19.425 10.325 19.825 10.725C20.225 11.125 20.225 11.725 19.825 12.125L11.425 20.525C9.525 22.425 6.425 22.425 4.425 20.525Z" fill="black" />
                                                        <path d="M9.32499 15.625C8.12499 14.425 8.12499 12.625 9.32499 11.425L14.225 6.52498C14.625 6.12498 15.225 6.12498 15.625 6.52498C16.025 6.92498 16.025 7.525 15.625 7.925L10.725 12.8249C10.325 13.2249 10.325 13.8249 10.725 14.2249C11.125 14.6249 11.725 14.6249 12.125 14.2249L19.125 7.22493C19.525 6.82493 19.725 6.425 19.725 5.925C19.725 5.325 19.525 4.825 19.125 4.425C18.725 4.025 18.725 3.42498 19.125 3.02498C19.525 2.62498 20.125 2.62498 20.525 3.02498C21.325 3.82498 21.725 4.825 21.725 5.925C21.725 6.925 21.325 7.82498 20.525 8.52498L13.525 15.525C12.325 16.725 10.525 16.725 9.32499 15.625Z" fill="black" />
                                                    </svg>
                                                </span>
                                                <!--end::Svg Icon-->
                                            </div>
                                        </div>
                                        <!--end::Symbol-->
                                        <!--begin::Title-->
                                        <div>
                                            <div class="fs-2 fw-bolder" data-kt-countup="true" data-kt-countup-value="@Model.Attachments.ToList().Count()">0</div>
                                            <div class="fw-bold fs-6" style="color:white">Files</div>
                                        </div>
                                        <!--end::Title-->
                                    </div>
                                    <!--end::Attachments-->
                                    <!--begin::History-->
                                    <div class="d-flex align-items-center ms-2 border border-white-300 border-dashed rounded min-w-100px py-3 px-4 me-3 mb-3">
                                        <!--begin::Symbol-->
                                        <div class="symbol symbol-40px me-3">
                                            <div class="symbol-label bg-white bg-opacity-50">
                                                <!--begin::Svg Icon | path: icons/duotune/abstract/abs045.svg-->
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                    <path opacity="0.3" fill-rule="evenodd" clip-rule="evenodd" d="M2 4.63158C2 3.1782 3.1782 2 4.63158 2H13.47C14.0155 2 14.278 2.66919 13.8778 3.04006L12.4556 4.35821C11.9009 4.87228 11.1726 5.15789 10.4163 5.15789H7.1579C6.05333 5.15789 5.15789 6.05333 5.15789 7.1579V16.8421C5.15789 17.9467 6.05333 18.8421 7.1579 18.8421H16.8421C17.9467 18.8421 18.8421 17.9467 18.8421 16.8421V13.7518C18.8421 12.927 19.1817 12.1387 19.7809 11.572L20.9878 10.4308C21.3703 10.0691 22 10.3403 22 10.8668V19.3684C22 20.8218 20.8218 22 19.3684 22H4.63158C3.1782 22 2 20.8218 2 19.3684V4.63158Z" fill="black" />
                                                    <path d="M10.9256 11.1882C10.5351 10.7977 10.5351 10.1645 10.9256 9.77397L18.0669 2.6327C18.8479 1.85165 20.1143 1.85165 20.8953 2.6327L21.3665 3.10391C22.1476 3.88496 22.1476 5.15129 21.3665 5.93234L14.2252 13.0736C13.8347 13.4641 13.2016 13.4641 12.811 13.0736L10.9256 11.1882Z" fill="black" />
                                                    <path d="M8.82343 12.0064L8.08852 14.3348C7.8655 15.0414 8.46151 15.7366 9.19388 15.6242L11.8974 15.2092C12.4642 15.1222 12.6916 14.4278 12.2861 14.0223L9.98595 11.7221C9.61452 11.3507 8.98154 11.5055 8.82343 12.0064Z" fill="black" />
                                                </svg>
                                                <!--end::Svg Icon-->
                                            </div>
                                        </div>
                                        <!--end::Symbol-->
                                        <!--begin::Title-->
                                        <div>
                                            <div class="fs-2 fw-bolder" data-kt-countup="true" data-kt-countup-value="@Model.Histories.ToList().Count()">0</div>
                                            <div class="fw-bold fs-6" style="color:white">Events</div>
                                        </div>
                                        <!--end::Title-->
                                    </div>
                                    <!--end::History-->
                                </div>
                                <!--end::Stats-->
                            </div>
                            <!--end::Wrapper-->
                        </div>
                        <!--end::Stats-->
                    </div>
                    <!--end::Info-->
                </div>
                <!--end::Details-->
                <!--begin::Navs-->
                <!--<div class="d-flex overflow-auto h-55px">
                <ul class="nav nav-stretch nav-line-tabs nav-line-tabs-2x border-transparent fs-5 fw-bolder flex-nowrap">
                    <!--begin::Nav item-->
                <!--<li class="nav-item">
                    <a class="nav-link text-active-primary me-6 active" href="">Overview</a>
                </li>-->
                <!--end::Nav item-->
                <!--begin::Nav item-->
                <!--<li class="nav-item">
                    <a class="nav-link text-active-primary me-6" href="">Users</a>
                </li>-->
                <!--end::Nav item-->
                <!--begin::Nav item-->
                <!--<li class="nav-item">
                    <a class="nav-link text-active-primary me-6" href="">Comments</a>
                </li>-->
                <!--end::Nav item-->
                <!--begin::Nav item-->
                <!--<li class="nav-item">
                    <a class="nav-link text-active-primary me-6" href="">Attachments</a>
                </li>-->
                <!--end::Nav item-->
                <!--begin::Nav item-->
                <!--<li class="nav-item">
                    <a class="nav-link text-active-primary me-6" href="">History</a>
                </li>-->
                <!--end::Nav item-->
                <!--</ul>-->
                <!--begin::Progress-->
                <!--<div class="d-flex align-items-center w-200px w-sm-300px flex-column mt-3">
                    <div class="d-flex justify-content-between w-100 mt-auto mb-2">
                        <span class="fw-bold fs-6 text-gray-400">Profile Completion</span>
                        <span class="fw-bolder fs-6">50%</span>
                    </div>
                    <div class="h-5px mx-3 w-100 bg-light mb-3">
                        <div class="bg-success rounded h-5px" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>-->
                <!--end::Progress-->
                <!--</div>-->
            </div>
        </div>
        <!--end::Navbar-->
        <!--begin::Row-->
        <div class="row g-5 g-xxl-8">
            <!--begin::Col-->
            <div class="col-xl-6">
                <!--begin::List Widget 9-->
                <div class="card mb-5 mb-xl-8" style="background-color: #CBD4F4">
                    <!--begin::Body-->
                    <div class="card-body pb-0">
                        <!--begin::Header-->
                        <div class="d-flex mb-5">
                            <!--begin::User-->
                            <div class="d-flex flex-grow-1">
                                <!--begin::Avatar-->
                                <div class="symbol symbol-40px me-3">
                                    <div class="symbol-label bg-white bg-opacity-50">
                                        <!--begin::Svg Icon | path: icons/duotune/abstract/abs045.svg-->
                                        <span class="svg-icon svg-icon-1 svg-icon-dark">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                <path opacity="0.3" d="M22 12C22 17.5 17.5 22 12 22C6.5 22 2 17.5 2 12C2 6.5 6.5 2 12 2C17.5 2 22 6.5 22 12ZM12 7C10.3 7 9 8.3 9 10C9 11.7 10.3 13 12 13C13.7 13 15 11.7 15 10C15 8.3 13.7 7 12 7Z" fill="black" />
                                                <path d="M12 22C14.6 22 17 21 18.7 19.4C17.9 16.9 15.2 15 12 15C8.8 15 6.09999 16.9 5.29999 19.4C6.99999 21 9.4 22 12 22Z" fill="black" />
                                            </svg>
                                        </span>
                                        <!--end::Svg Icon-->
                                    </div>
                                </div>
                                <!--end::Avatar-->
                                <!--begin::Info-->
                                <div class="d-flex flex-column">
                                    <a class="text-gray-900 text-hover-primary fs-6 fw-bolder">Development Team</a>
                                    <span class="fw-bold" style="color:white">Submitter, Developer, & P.M.</span>
                                </div>
                                <!--end::Info-->
                            </div>
                            <!--end::User-->
                        </div>
                        <!--begin::Post-->
                        <div class="mb-5">
                            <!--begin::Text-->
                            <p class="text-gray-800 fw-normal mb-5">View all of the users that are currently associated with a ticket, as well as their corresponding role.</p>
                            <!--end::Text-->
                        </div>
                        <!--end::Post-->
                        <!--begin::Separator-->
                        <div class="separator mb-4"></div>
                        <!--end::Separator-->
                    </div>
                    <!--end::Header-->
                    <!--begin::Body-->
                    <div class="card-body pt-5">

                        <!--begin::Item-->
                        <div class="d-flex mb-5">
                            <!--begin::Symbol-->
                            <div class="symbol symbol-60px symbol-2by3 flex-shrink-0 me-4">
                                <img src="/assets/media/stock/600x400/img-3.jpg" class="mw-100" alt="" />
                            </div>
                            <!--end::Symbol-->
                            <!--begin::Section-->
                            <div class="d-flex align-items-center flex-wrap flex-grow-1 mt-n2 mt-lg-n1">
                                <!--begin::Title-->
                                <div class="d-flex flex-column flex-grow-1 my-lg-0 my-2 pe-3">
                                    <a href="#" class="fs-5 text-gray-800 text-hover-primary fw-bolder">Submitter</a>
                                    @*<span class="text-gray-400 fw-bold fs-7 my-1">User Role</span>*@
                                </div>
                                <!--end::Title-->
                                <!--begin::Info-->
                                <div class="text-end py-lg-0 py-2">
                                    <span class="text-gray-800 fw-boldest fs-3">@Model.OwnerUser.FullName</span>
                                    @*<span class="text-gray-400 fs-7 fw-bold d-block">Actions on this ticket</span>*@
                                </div>
                                <!--end::Info-->
                            </div>
                            <!--end::Section-->
                        </div>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <div class="d-flex mb-5">
                            <!--begin::Symbol-->
                            <div class="symbol symbol-60px symbol-2by3 flex-shrink-0 me-4">
                                <img src="/assets/media/stock/600x400/img-3.jpg" class="mw-100" alt="" />
                            </div>
                            <!--end::Symbol-->
                            <!--begin::Section-->
                            <div class="d-flex align-items-center flex-wrap flex-grow-1 mt-n2 mt-lg-n1">
                                <!--begin::Title-->
                                <div class="d-flex flex-column flex-grow-1 my-lg-0 my-2 pe-3">
                                    <a href="#" class="fs-5 text-gray-800 text-hover-primary fw-bolder">Developer</a>
                                    @*<span class="text-gray-400 fw-bold fs-7 my-1">User Role</span>*@
                                </div>
                                <!--end::Title-->
                                <!--begin::Info-->
                                <div class="text-end py-lg-0 py-2">
                                    @if (Model.DeveloperUser != null)
                                    {
                                        <span class="text-gray-800 fw-boldest fs-3">@Model.DeveloperUser.FullName</span>
                                    }
                                    else
                                    {
                                        <span class="text-gray-800 fw-boldest fs-3">Currently Unassigned</span>
                                    }
                                    @*<span class="text-gray-400 fs-7 fw-bold d-block">Actions on this ticket</span>*@
                                </div>
                                <!--end::Info-->
                            </div>
                            <!--end::Section-->
                        </div>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <div class="d-flex mb-5">
                            <!--begin::Symbol-->
                            <div class="symbol symbol-60px symbol-2by3 flex-shrink-0 me-4">
                                <img src="/assets/media/stock/600x400/img-3.jpg" class="mw-100" alt="" />
                            </div>
                            <!--end::Symbol-->
                            <!--begin::Section-->
                            <div class="d-flex align-items-center flex-wrap flex-grow-1 mt-n2 mt-lg-n1">
                                <!--begin::Title-->
                                <div class="d-flex flex-column flex-grow-1 my-lg-0 my-2 pe-3">
                                    <a href="#" class="fs-5 text-gray-800 text-hover-primary fw-bolder">Project Manager</a>
                                    @*<span class="text-gray-400 fw-bold fs-7 my-1">User Role</span>*@
                                </div>
                                <!--end::Title-->
                                <!--begin::Info-->
                                <div class="text-end py-lg-0 py-2">
                                    @if (projectManager != null)
                                    {
                                        <span class="text-gray-800 fw-boldest fs-3">@projectManager.FullName</span>
                                    }
                                    @*<span class="text-gray-400 fs-7 fw-bold d-block">Actions on this ticket</span>*@
                                </div>
                                <!--end::Info-->
                            </div>
                            <!--end::Section-->
                        </div>
                        <!--end::Item-->

                    </div>
                    <!--end::Body-->
                </div>
                <!--end::List Widget 9-->
                <!--begin::Charts Widget 1-->
                <div class="card mb-5 mb-xl-8" style="background-color: #CBD4F4">
                    <!--begin::Body-->
                    <div class="card-body pb-0">
                        <!--begin::Header-->
                        <div class="d-flex mb-5">
                            <!--begin::User-->
                            <div class="d-flex flex-grow-1">
                                <!--begin::Avatar-->
                                <div class="symbol symbol-40px me-3">
                                    <div class="symbol-label bg-white bg-opacity-50">
                                        <!--begin::Svg Icon | path: icons/duotune/abstract/abs045.svg-->
                                        <span class="svg-icon svg-icon-1 svg-icon-dark">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                <path opacity="0.3" d="M8 8C8 7.4 8.4 7 9 7H16V3C16 2.4 15.6 2 15 2H3C2.4 2 2 2.4 2 3V13C2 13.6 2.4 14 3 14H5V16.1C5 16.8 5.79999 17.1 6.29999 16.6L8 14.9V8Z" fill="black" />
                                                <path d="M22 8V18C22 18.6 21.6 19 21 19H19V21.1C19 21.8 18.2 22.1 17.7 21.6L15 18.9H9C8.4 18.9 8 18.5 8 17.9V7.90002C8 7.30002 8.4 6.90002 9 6.90002H21C21.6 7.00002 22 7.4 22 8ZM19 11C19 10.4 18.6 10 18 10H12C11.4 10 11 10.4 11 11C11 11.6 11.4 12 12 12H18C18.6 12 19 11.6 19 11ZM17 15C17 14.4 16.6 14 16 14H12C11.4 14 11 14.4 11 15C11 15.6 11.4 16 12 16H16C16.6 16 17 15.6 17 15Z" fill="black" />
                                            </svg>
                                        </span>
                                        <!--end::Svg Icon-->
                                    </div>
                                </div>
                                <!--end::Avatar-->
                                <!--begin::Info-->
                                <div class="d-flex flex-column">
                                    <a class="text-gray-900 text-hover-primary fs-6 fw-bolder">Discussion Threads</a>
                                    <span class="fw-bold" style="color:white">Number of comments</span>
                                </div>
                                <!--end::Info-->
                            </div>
                            <!--end::User-->
                        </div>
                        <!--begin::Post-->
                        <div class="mb-5">
                            <!--begin::Text-->
                            <p class="text-gray-800 fw-normal mb-5">View all of the comments that have been made in relation to the current ticket.</p>
                            <!--end::Text-->
                        </div>
                        <!--end::Post-->
                        <!--begin::Separator-->
                        <div class="separator mb-4"></div>
                        <!--end::Separator-->
                    </div>
                    <!--end::Header-->
                    <!--begin::Body-->
                    <div class="card-body">
                        <!--begin::Chart-->
                        <div id="kt_charts_widget_1_chart" style="height: 350px"></div>
                        <!--end::Chart-->
                    </div>
                    <!--end::Body-->
                </div>
                <!--end::Charts Widget 1-->
            </div>
            <!--end::Col-->
            <!--begin::Col-->
            <div class="col-xl-6">
                <!--begin::Feeds Widget 2-->
                <div class="card mb-5 mb-xl-8" style="background-color: #CBD4F4">
                    <!--begin::Body-->
                    <div class="card-body pb-0">
                        <!--begin::Header-->
                        <div class="d-flex mb-5">
                            <!--begin::User-->
                            <div class="d-flex align-items-center flex-grow-1">
                                <!--begin::Avatar-->
                                <div class="symbol symbol-40px me-3">
                                    <div class="symbol-label bg-white bg-opacity-50">
                                        <!--begin::Svg Icon | path: icons/duotune/abstract/abs045.svg-->
                                        <span class="svg-icon svg-icon-1 svg-icon-dark">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                <path opacity="0.3" d="M4.425 20.525C2.525 18.625 2.525 15.525 4.425 13.525L14.825 3.125C16.325 1.625 18.825 1.625 20.425 3.125C20.825 3.525 20.825 4.12502 20.425 4.52502C20.025 4.92502 19.425 4.92502 19.025 4.52502C18.225 3.72502 17.025 3.72502 16.225 4.52502L5.82499 14.925C4.62499 16.125 4.62499 17.925 5.82499 19.125C7.02499 20.325 8.82501 20.325 10.025 19.125L18.425 10.725C18.825 10.325 19.425 10.325 19.825 10.725C20.225 11.125 20.225 11.725 19.825 12.125L11.425 20.525C9.525 22.425 6.425 22.425 4.425 20.525Z" fill="black" />
                                                <path d="M9.32499 15.625C8.12499 14.425 8.12499 12.625 9.32499 11.425L14.225 6.52498C14.625 6.12498 15.225 6.12498 15.625 6.52498C16.025 6.92498 16.025 7.525 15.625 7.925L10.725 12.8249C10.325 13.2249 10.325 13.8249 10.725 14.2249C11.125 14.6249 11.725 14.6249 12.125 14.2249L19.125 7.22493C19.525 6.82493 19.725 6.425 19.725 5.925C19.725 5.325 19.525 4.825 19.125 4.425C18.725 4.025 18.725 3.42498 19.125 3.02498C19.525 2.62498 20.125 2.62498 20.525 3.02498C21.325 3.82498 21.725 4.825 21.725 5.925C21.725 6.925 21.325 7.82498 20.525 8.52498L13.525 15.525C12.325 16.725 10.525 16.725 9.32499 15.625Z" fill="black" />
                                            </svg>
                                        </span>
                                        <!--end::Svg Icon-->
                                    </div>
                                </div>
                                <!--end::Avatar-->
                                <!--begin::Info-->
                                <div class="d-flex flex-column">
                                    <a class="text-gray-900 text-hover-primary fs-6 fw-bolder">Attach Files</a>
                                    <span class="fw-bold" style="color:white">.jpg  .png  .pdf  .doc  .docx  .xls  .xlsx</span>
                                </div>
                                <!--end::Info-->
                            </div>
                            <!--end::User-->
                        </div>
                        <!--end::Header-->
                        <!--begin::Post-->
                        <div class="mb-5">
                            <!--begin::Text-->
                            <p class="text-gray-800 fw-normal mb-5">Here you can upload and view documents that are relevant to the current ticket. Any of the above file types will be accepted.</p>
                            <!--end::Text-->
                        </div>
                        <!--end::Post-->
                        <!--begin::Separator-->
                        <div class="separator mb-4"></div>
                        <!--end::Separator-->
                        <!--begin::Reply input-->
                        <form class="position-relative mb-6" asp-action="Create" asp-controller="TicketAttachments" enctype="multipart/form-data" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="@Model.Id" name="TicketId">
                            <div class="media-body ml-3">
                                <div class="row">
                                    <label class="form-label d-block mb-2">Description of File</label>
                                    <label>
                                        <input asp-for="@Model.Attachments.FirstOrDefault().Description" type="text" class="form-control" />
                                    </label>
                                </div>
                                <div class="row align-content-center justify-content-center">
                                    <div class="col">
                                        <label class="btn btn-outline-primary btn-sm">
                                            <input class="btn btn-light btn-sm btn-active" asp-for="@Model.Attachments.FirstOrDefault().FormFile" type="file" />
                                        </label>
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-4">
                                        <button type="submit" class="btn btn-light btn-sm btn-active">Submit</button>
                                    </div>
                                </div>
                            </div>
                            <div class="position-absolute top-0 end-0 me-n5">
                                <span class="btn btn-icon btn-sm btn-active-color-primary pe-0 me-2">
                                </span>
                            </div>
                        </form>
                        <!--edit::Reply input-->
                        <!--begin::Separator-->
                        <div class="separator mb-4"></div>
                        <!--end::Separator-->
                        <div class="media-body ml-3">
                            <label class="form-label d-block mb-2">Attached Files</label>
                            <div class="row clearfix">
                                @foreach (TicketAttachment item in Model.Attachments)
                                {
                                    <div class="col-sm-3 flex-center">
                                        <div class="card min-w-65px">
                                            <div class="file mt-4 mb-4">
                                                <form asp-action="ShowFile" asp-controller="Tickets" asp-route-Id="@item.Id">
                                                    @*<div class="hover">
                                                            <button type="button" class="btn btn-icon btn-danger">
                                                                <i class="fa fa-trash"></i>
                                                            </button>
                                                        </div>*@
                                                    <div class="icon mb-2">
                                                        <img src="@BTFileService.GetFileIcon(item.FileName)" style="height:60px;width:60px" />
                                                    </div>
                                                    <div class="row justify-content-center">
                                                        <div class="row">
                                                            <div class="col">
                                                                <span class="mb-1">@System.IO.Path.GetFileNameWithoutExtension(item.FileName)</span>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col">
                                                                <small><span class="date text-muted">@item.Created.ToString("dd/MM/yy")</span></small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <br />
                    </div>
                    <!--end::Body-->
                </div>
                <!--end::Feeds Widget 2-->
                <!--begin::List Widget 5-->
                <div class="card mb-5 mb-xl-8" style="background-color: #CBD4F4">
                    <!--begin::Body-->
                    <div class="card-body pb-0">
                        <!--begin::Header-->
                        <div class="d-flex mb-5">
                            <!--begin::User-->
                            <div class="d-flex align-items-center flex-grow-1">
                                <!--begin::Avatar-->
                                <div class="symbol symbol-40px me-3">
                                    <div class="symbol-label bg-white bg-opacity-50">
                                        <!--begin::Svg Icon | path: icons/duotune/abstract/abs045.svg-->
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                            <path opacity="0.3" fill-rule="evenodd" clip-rule="evenodd" d="M2 4.63158C2 3.1782 3.1782 2 4.63158 2H13.47C14.0155 2 14.278 2.66919 13.8778 3.04006L12.4556 4.35821C11.9009 4.87228 11.1726 5.15789 10.4163 5.15789H7.1579C6.05333 5.15789 5.15789 6.05333 5.15789 7.1579V16.8421C5.15789 17.9467 6.05333 18.8421 7.1579 18.8421H16.8421C17.9467 18.8421 18.8421 17.9467 18.8421 16.8421V13.7518C18.8421 12.927 19.1817 12.1387 19.7809 11.572L20.9878 10.4308C21.3703 10.0691 22 10.3403 22 10.8668V19.3684C22 20.8218 20.8218 22 19.3684 22H4.63158C3.1782 22 2 20.8218 2 19.3684V4.63158Z" fill="black" />
                                            <path d="M10.9256 11.1882C10.5351 10.7977 10.5351 10.1645 10.9256 9.77397L18.0669 2.6327C18.8479 1.85165 20.1143 1.85165 20.8953 2.6327L21.3665 3.10391C22.1476 3.88496 22.1476 5.15129 21.3665 5.93234L14.2252 13.0736C13.8347 13.4641 13.2016 13.4641 12.811 13.0736L10.9256 11.1882Z" fill="black" />
                                            <path d="M8.82343 12.0064L8.08852 14.3348C7.8655 15.0414 8.46151 15.7366 9.19388 15.6242L11.8974 15.2092C12.4642 15.1222 12.6916 14.4278 12.2861 14.0223L9.98595 11.7221C9.61452 11.3507 8.98154 11.5055 8.82343 12.0064Z" fill="black" />
                                        </svg>
                                        <!--end::Svg Icon-->
                                    </div>
                                </div>
                                <!--end::Avatar-->
                                <!--begin::Info-->
                                <div class="d-flex flex-column">
                                    <a class="text-gray-900 text-hover-primary fs-6 fw-bolder">Event Log</a>
                                    <span class="fw-bold" style="color:white">Ticket created on @Model.Created.DateTime.ToShortDateString()</span>
                                </div>
                                <!--end::Info-->
                            </div>
                            <!--end::User-->
                        </div>
                        <!--end::Header-->
                        <!--begin::Post-->
                        <div class="mb-5">
                            <!--begin::Text-->
                            <p class="text-gray-800 fw-normal mb-5">Here you can view a complete history of events related to this ticket, including adding and removing users, uploading files, and editing details.</p>
                            <!--end::Text-->
                        </div>
                        <!--end::Post-->
                        <!--begin::Separator-->
                        <div class="separator mb-4"></div>
                        <!--end::Separator-->
                        <!--begin::Card Body-->
                        <div class="card-body pt-5">
                            <!--begin::Timeline-->
                            <div class="timeline-label">
                                @foreach (TicketHistory ticketHistory in Model.Histories.OrderByDescending(h => h.Created))
                                {
                                    <!--begin::Item-->
                                    <div class="timeline-item">
                                        <!--begin::Label-->
                                        <div class="timeline-label fw-bolder text-gray-800 fs-8">@ticketHistory.Created.ToString("MM/dd")</div>
                                        <!--end::Label-->
                                        <br />
                                        <!--begin::Badge-->
                                        <div class="timeline-badge">
                                            <i class="fa fa-genderless text-success fs-1"></i>
                                        </div>
                                        <!--end::Badge-->
                                        <!--begin::Content-->
                                        <div class="timeline-content d-flex">
                                            <div class="row">
                                                <div class="row">
                                                    <span class="fw-bolder text-gray-800 ps-3">Edited by: @ticketHistory.User.FullName</span>
                                                </div>
                                                <div class="row">
                                                    <span class="fw-bolder text-gray-800 fs-8 ps-3">- @ticketHistory.Description</span>
                                                </div>
                                                <div class="row">
                                                    <span class="fw-bolder text-gray-800 fs-8 ps-3">- @ticketHistory.Property was edited from "@ticketHistory.OldValue"</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end::Content-->
                                    <!--end::Item-->
                                }
                            </div>
                            <!--end::Timeline-->
                        </div>
                        <!--end::Card Body-->
                    </div>
                    <!--end::Body-->
                </div>
                <!--end: List Widget 5-->

            </div>
            <!--end::Col-->
        </div>
        <!--end::Row-->
    </div>
    <!--end::Container-->
</div>
<!--end::Content-->
@*<div>
        <h4>Ticket</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Created)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Created)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Updated)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Updated)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Archived)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Archived)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Project)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Project.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TicketType)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TicketType.Id)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TicketStatus)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TicketStatus.Id)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TicketPriority)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TicketPriority.Id)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.OwnerUser)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.OwnerUser.Id)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DeveloperUser)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DeveloperUser.Id)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>*@
